{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1>Editar Actividad</h1>
    <form method="POST" class="card p-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre de la Actividad</label>
            <input type="text" name="nombre" class="form-control" id="nombre" value="{{ actividad.nombre }}">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" class="form-control" id="descripcion">{{ actividad.descripcion }}</textarea>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" class="form-control" id="fecha" value="{{ actividad.fecha }}">
        </div>
        <div class="form-group">
            <label for="hora_inicio">Hora de Inicio</label>
            <input type="time" name="hora_inicio" class="form-control" id="hora_inicio" value="{{ actividad.hora_inicio }}">
        </div>
        <div class="form-group">
            <label for="hora_fin">Hora de Fin</label>
            <input type="time" name="hora_fin" class="form-control" id="hora_fin" value="{{ actividad.hora_fin }}">
        </div>
        <div class="form-group">
            <label for="aula">Aula</label>
            <input type="text" name="aula" class="form-control" id="aula" value="{{ actividad.aula }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}
