{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Lista de Actividades</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Aula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.descripcion }}</td>
                <td>{{ actividad.fecha }}</td>
                <td>{{ actividad.hora_inicio }}</td>
                <td>{{ actividad.hora_fin }}</td>
                <td>{{ actividad.aula }}</td>
                <td>
                    <a href="{% url 'editar_actividad' actividad.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_actividad' actividad.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    <a href="{% url 'carta_poder' actividad.id %}" class="btn btn-primary btn-sm">Generar Carta de Poder</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
